@model IEnumerable<PH3A.Domain.Models.Simulacao>

@{
    ViewData["Title"] = "Ultimas Simulações";
}

<h1>@ViewData["Title"]</h1>

<table class="table table-striped table-hover">
    <thead class="thead-dark">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PorcentagemJuros)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TipoCalculo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalJuros)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalDivida)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataInclusao)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @item.PorcentagemJuros?.ToString("0.000") %
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TipoCalculo)
                </td>
                <td>
                    R$ @item.TotalJuros.ToString("N")
                </td>
                <td>
                    R$ @item.TotalDivida.ToString("N")
                </td>
                <td>
                    @item.DataInclusao.ToString("g")
                </td>
            </tr>
        }
    </tbody>
</table>